/*========== GOOGLE FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

/*========== VARIABLES CSS ==========*/
:root {
  /*========== Colors ==========*/
  --first-color: #160797;
  --second-color: #20a2c0;
  --body-color: #dfe9f2;
  --title-color: #1c1c22;
  --text-color: #58576b;

  /*========== Font and typography ==========*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: 0.938rem;
  --h3-font-size: 1.125rem;
  --small-font-size: 0.75rem;
}

@media screen and (min-width: 968px) {
  :root {
    --normal-font-size: 1rem;
    --h3-font-size: 1.25rem;
    --small-font-size: 0.813rem;
  }
}

/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifc;
  font-size: var(--normal-font-size);
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
/* =======Navbar====== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 100px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 100;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}
.header:hover::before {
  left: 100%;
}
.header p {
  color: #2a2929;
  font-size: 15px;
  text-decoration: none;
  font-weight: 600;
  margin-left: 10px;
}
.logo {
  width: 110px;
  cursor: default;
  display: flex;
  /* align-items: center; */
}
.navbar a {
  color: #242222;
  font-size: 18px;
  text-decoration: none;
  margin-left: 10px;
  transition: 0.3s;
}
.navbar a:hover {
  color: #f00;
}
#menu-icon {
  font-size: 36px;
  color: #fff;
  display: none;
}
/* BREAKPOINTS */
/* @media (max-width: 992px) {
  .header {
    padding: 0.5rem 4%;
  }
} */

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0.5rem 4%;
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    display: block;
    margin: 1.5rem 0;
  }
  .nav-bg {
    position: absolute;
    top: 79px;
    left: 0;
    width: 100%;
    height: 295px;
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    z-index: 99;
    display: none;
  }
  .nav-bg.active {
    display: block;
  }
}
/*========== Konten Glass==========*/
.dash_container {
  position: relative;
  overflow: hidden;
  padding-top: 40px;
  margin-top: 60px;
  /* padding: 3rem 0; */
  background-color: var(--body-color);
}

.konten__glass {
  position: relative;
  overflow: hidden;
  padding: 1.5rem;
  background: linear-gradient(
    130deg,
    rgba(251, 251, 254, 0.6),
    rgba(251, 251, 254, 0.2)
  );
  box-shadow: inset 2px 2px 1px rgba(251, 251, 254, 0.3),
    inset -2px -2px 1px rgba(251, 251, 254, 0.2);
  border-radius: 1.5rem;
  backdrop-filter: blur(10px);
  max-width: 990px;
  width: 95%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row; /* Untuk desktop/layar besar */
  /* margin-top: 500px */
}

.dash__data {
  flex-grow: 1;
  max-width: 45%;
  margin-right: 20px;
  text-align: left; /* Default teks rata kiri */
}
.dash_title {
  font-size: 70px;
  margin-right: 20px;
  padding-bottom: 10px;
  width: auto; 
  max-width: none; 
  line-height: 0.8; 
}

.img_group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.img_konten {
  width: 290px !important;
  flex-shrink: 0;
}

.img_konten2 {
  width: 150px !important;
  flex-shrink: 0;
}

/* Media Query (mobile) */
@media (max-width: 768px) {
  .konten__glass {
    flex-direction: column; 
    text-align: center; 
  }

  .img_group {
    justify-content: center; 
    margin-bottom: 20px; 
  }

  .dash__data {
    max-width: 100%; 
    margin-right: 0; 
    position: center;
  }
}
.dash__button,
.dash__button1 {
  /* position: absolute; */
  align-items: center;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(
    130deg,
    rgba(251, 251, 254, 0.9),
    rgba(251, 251, 254, 0.2)
  );
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  color: var(--title-color);
  font-weight: 500;
  transition: transform 0.4s ease, background 0.4s ease; 
}
.dash__button1 {
  position: absolute;
}

.dash__button:hover,
.dash__button1:hover {
  background: linear-gradient(
    to bottom left,
    
      rgba(255, 255, 255, 0.8),
    
  );
  transform: translateX(-50%) scale(1.1);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); 
}


.app_container {
  position: relative;
  overflow: hidden;
  padding: 2rem 0;
  background-color: var(--body-color);
}

.konten__glass {
  position: relative;
  overflow: hidden;
  padding: 1.5rem;
  background: linear-gradient(
    130deg,
    rgba(251, 251, 254, 0.6),
    rgba(251, 251, 254, 0.2)
  );
  box-shadow: inset 2px 2px 1px rgba(251, 251, 254, 0.3),
    inset -2px -2px 1px rgba(251, 251, 254, 0.2);
  border-radius: 1.5rem;
  backdrop-filter: blur(10px);
  max-width: 990px;
  width: 95%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row; 
}

.dash__data {
  flex-grow: 1;
  max-width: 45%;
  margin-right: 20px;
  text-align: left; 
}
.dash_title {
  font-size: 70px;
  margin-right: 20px;
  padding-bottom: 10px;
  width: auto; 
  max-width: none;
  line-height: 0.8;
}

.img_group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.img_konten {
  width: 290px !important;
  flex-shrink: 0;
}

.img_konten2 {
  width: 150px !important;
  flex-shrink: 0;
}

#hasil_prediksi,
#uploadForm,
#prediksi_submit {
  margin-bottom: 15px; 
}

.col-sm-6 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Menyejajarkan elemen di tengah secara horizontal */
}

/* Media query untuk layar kecil (mobile) */
@media (max-width: 768px) {
  .konten__glass {
    flex-direction: column; /* Mengubah susunan menjadi kolom pada layar kecil */
    text-align: center; /* Mengatur teks menjadi rata tengah */
  }

  .img_group {
    justify-content: center; /* Menempatkan gambar di tengah */
    margin-bottom: 20px; /* Beri jarak antara gambar dan teks di bawahnya */
  }

  .dash__data {
    max-width: 100%; /* Teks akan memakan lebar penuh */
    margin-right: 0; /* Hilangkan margin kanan pada teks */
    position: center;
  }
}
.dash__button {
  /* position: absolute; */
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(
    130deg,
    rgba(251, 251, 254, 0.9),
    rgba(251, 251, 254, 0.2)
  );
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  color: var(--title-color);
  font-weight: 500;
  transition: transform 0.4s ease, background 0.4s ease; /* Tambahkan transisi untuk transform dan background */
}

.dash__button:hover {
  background: linear-gradient(
    to bottom left,
    /* Gradient bergerak dari kanan atas ke kiri bawah */
      rgba(255, 255, 255, 0.8),
    /* Warna cahaya putih dari kanan atas */ rgba(3, 255, 36, 0.878)
      /* Warna hijau di kiri bawah */
  );
  transform: translateX(-50%) scale(1.1); /* Hanya gunakan scale tanpa mengubah padding */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Efek bayangan untuk tampilan yang lebih dramatis */
}
/*========== CARD GLASS ==========*/
.card {
  position: relative;
  overflow: hidden;
  padding: 2rem 0;
  background-color: var(--body-color);
}

.card__container {
  display: grid;
  gap: 1rem;
}

.card__glass {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 1.5rem;
  background: linear-gradient(
    130deg,
    rgba(251, 251, 254, 0.6),
    rgba(251, 251, 254, 0.2)
  );
  box-shadow: inset 2px 2px 1px rgba(251, 251, 254, 0.3) inset -2px -2px 1px
    rgba(251, 251, 254, 0.2);
  border-radius: 1.5rem;
  backdrop-filter: blur(10px);
}

.card__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #f4f4fb;
  margin-bottom: 1rem;
}

.card__data {
  margin-bottom: 1rem;
}

.card__title {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.card__profession {
  font-size: var(--small-font-size);
  color: var(--text-color);
  font-weight: 500;
}

.card__social {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-70%);
}

.card__link {
  display: block;
  font-size: 1.35rem;
  color: var(--title-color);
  margin: 1rem 0;
  transform: translateX(-5rem);
}

.card__link:nth-child(1) {
  transition: 0.2s;
}
.card__link:nth-child(2) {
  transition: 0.5s;
}
.card__link:nth-child(3) {
  transition: 0.7s;
}

.card__glass:hover .card__link {
  transform: translateX(-1.5rem);
}

.card__circle {
  position: absolute;
  width: 250px;
  height: 250px;
  background: linear-gradient(
    130deg,
    rgba(162, 5, 5, 0.8),
    rgba(215, 63, 63, 0.2)
  );
  border-radius: 50%;
}

.card__circle1 {
  top: 20%;
  left: -20%;
}

.card__circle2 {
  bottom: -5%;
  right: -25%;
  background: linear-gradient(
    130deg,
    rgba(29, 242, 5, 0.8),
    rgba(255, 255, 255, 0.2)
  );
}

/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 568px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .card {
    padding: 0;
  }

  .card__container {
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
  }

  .card__circle1 {
    left: 5%;
    top: 12%;
  }

  .card__circle2 {
    right: 8%;
    bottom: 15%;
  }
}

//this is css file for projet
